# OS Files
.DS_Store
Thumbs.db

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.db
*.sqlite3

# Binaries, Packages & Model Artifacts
*.pyd
*.dll
*.so
*.dylib
*.exe
*.whl
*.dist-info/
*.egg-info/
*.bin
*.pkl
*.pt
*.pth
*.onnx
*.h5
*.tflite
*.pb

# Archives & Large Zips
*.zip
*.tar.gz
*.tgz
*.rar
*.7z

# Media & Test Assets
test/
*.mp4
*.wav
*.mp3
*.webp

# Node.js
node_modules/
dist/
build/
.npm/

# Police Backend Installed Site Packages
police/backend/*dist-info/
police/backend/_*/
police/backend/numpy/
police/backend/scipy*/
police/backend/pandas/
police/backend/sklearn/
police/backend/PIL/
police/backend/psycopg2/
police/backend/pydantic*/
police/backend/cryptography/
police/backend/anyio/
police/backend/httpx/
police/backend/httpcore/
police/backend/uvicorn/
police/backend/starlette/
police/backend/jinja2/
police/backend/joblib/
police/backend/fastapi*/
police/backend/colorama/
police/backend/rich*/
police/backend/typer/
police/backend/yaml/
police/backend/share/
police/backend/bin/
police/backend/include/
police/backend/Faker*/
police/backend/faker/
police/backend/SQLAlchemy*/
police/backend/sqlalchemy/
police/backend/bcrypt*/
police/backend/bcrypt/
police/backend/certifi*/
police/backend/cffi*/
police/backend/chardet*/
police/backend/charset_normalizer*/
police/backend/click*/
police/backend/dateutil/
police/backend/dns*/
police/backend/dnspython*/
police/backend/dotenv/
police/backend/ecdsa*/
police/backend/email_validator*/
police/backend/exceptiongroup*/
police/backend/greenlet*/
police/backend/h11*/
police/backend/httptools*/
police/backend/idna*/
police/backend/jose/
police/backend/markdown_it*/
police/backend/markupsafe*/
police/backend/mdurl*/
police/backend/multipart/
police/backend/neo4j*/
police/backend/networkx*/
police/backend/orjson*/
police/backend/passlib*/
police/backend/pyasn1*/
police/backend/pycparser*/
police/backend/pydub*/
police/backend/pygments*/
police/backend/python_dateutil*/
police/backend/python_dotenv*/
police/backend/python_jose*/
police/backend/python_multipart*/
police/backend/pytz*/
police/backend/pyyaml*/
police/backend/reportlab*/
police/backend/requests*/
police/backend/rsa*/
police/backend/shellingham*/
police/backend/six*/
police/backend/threadpoolctl*/
police/backend/tomli*/
police/backend/typing_extensions*/
police/backend/tzdata*/
police/backend/ujson*/
police/backend/urllib3*/
police/backend/watchfiles*/
police/backend/websockets*/
police/backend/zcatalyst_sdk*/
police/backend/six.py
police/backend/threadpoolctl.py
police/backend/typing_extensions.py

# Env & Secrets
police/frontend/.env
user/.env
Classifier/.env
